<!DOCTYPE html>
<html>
<head>

    <title>@ViewData["Title"] - My Razor Page</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/RazorPage.styles.css" asp-append-version="true">
</head>
<body>
    <header>
        <partial name="Shared/NavMenuPartial" />
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        2023 - Powere By balta.io
    </footer>

    @RenderSection("scripts", false)
</body>
</html>